.additionally-products {
  padding: 25px 20px 35px;
  text-align: left;
}

.additionally-products__title {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
}

.additionally-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additionally-products__item {
  border-bottom: 1px solid #ebebeb;
}

