.product {
  &__item {
    padding: 19px 20px 25px;
    border-top: 1px solid #ebebeb;

    &--more-product,
    &:last-child {
      padding: 25px 20px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  &__image {
    display: block;
    width: min-content;
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 18px;
  }

  &__description-list {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
  }

  &__description-item {
    margin: 0;
  }

  &__order-button {
    font-size: 16px;
    line-height: 20px;
  }
}
