.product-description {
  text-align: left;
  padding: 0 20px;
  margin-bottom: 49px;
}

.product-description__title {
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.product-description__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-description__item {
  padding-left: 80px;
  color: #444444;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.product-description__desc {
  font-family: "Arial", sans-serif;
  color: #444444;
  margin: 0;
}
