.programs {
  &__wrapper {
    padding: 20px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    background-color: #f2f2f2;
    text-align: left;
    padding: 30px 20px 18px 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
    padding-left: 91px;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 23px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 47px 4px 0;
  }
}
