.result-slider {
  background-image: url("../img/before_mobile.png");
  background-repeat: no-repeat;

  &__range {
    padding-top: 247px;
    display: flex;
    flex-direction: row;
  }

  &__button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
  }
}
